/entity-browser-launcher/entity-browser-launcher.iml
/entity-browser-app/entity-browser-app.iml
/xodus-entity-browser.iml
/.idea
/entity-browser-frontend/entity-browser-frontend.iml
/entity-browser-frontend/dist/
/entity-browser-frontend/.idea/
/entity-browser-frontend/.gradle/
/deploy-to-bintray.sh
/entity-browser-app/src/main/generated/
/entity-browser-app/recent-dbs.json
/classes
yarn.lock
/.gradle
**/build
**/out
**/node_modules