<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%thread] %logger{10} %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.eclipse.jetty.server" level="INFO"/>
    <logger name="jetbrains.xodus.browser.web" level="INFO"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>