<div data-ng-controller="MainController as main" id="page-wrapper">

    <div class="">
        <div class="row">
            <form class="form form-horizontal" data-ng-submit="main.onSearch()">
                <div class="form-group col-md-3">
                    <ui-select class="pull-right"
                               data-ng-model="selectedType"
                               data-theme="bootstrap"
                               data-ng-change="main.onTypeSelect(selectedType)"
                               style="width:200px;    margin-right: 15px;">
                        <ui-select-match placeholder="Select type">
                            {{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="type in types | filter: $select.search track by type.id">
                            <small data-ng-bind="type.name"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group col-md-8">
                    <div class="input-group">
                        <input id="searchQuery" autofocus type="text"
                               data-ng-model="searchQuery"
                               class="form-control"
                               placeholder="try '12' or 'name=John' or 'name~Sam and age=[35,40]'">

                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i
                                    class="fa fa-fw fa-search"></i>
                            </button>
                            <button class="btn btn-default" data-ng-click="openInfo()">
                                <i class="fa fa-fw fa-question"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <a class="btn btn-primary pull-left" data-ng-click="main.newEntity()">New</a>
                </div>

            </form>
        </div>
    </div>

    <entity-type-view data-selected-type="selectedType"></entity-type-view>
</div>