<div data-ng-controller="MainController as main">

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li data-ng-show="main.filter">
                <div class="form-group nav-search">
                    <input class="form-control" data-ng-model="main.typeName" data-ng-change="main.doFilter()"
                           type="text" placeholder="Search for type">
                </div>
            </li>
            <li data-ng-repeat="type in filteredTypes" data-ng-class="{'active' : type.id == selectedType.id}">
                <a href data-ng-click="main.onTypeSelect(type)">{{type.name}}</a>
            </li>
        </ul>
    </div>

    <entity-type-view data-selected-type="selectedType"></entity-type-view>
</div>