<div>
    <div class="modal-header without-bottom-border">
        <h3 class="modal-title">{{item.label}}?</h3>
    </div>
    <div class="modal-body">
        <span class="co-text">{{item.message}}</span>
        <uib-alert type="danger" data-ng-show="error" close="closeError()">
            {{error}}
        </uib-alert>
    </div>
    <div class="modal-footer without-top-border">
        <button class="btn btn-primary mdm-ui-component-confirm-button" data-ng-click="doAction()">
            {{item.action}}
        </button>
        <button class="btn btn-default mdm-ui-component-confirm-button" data-ng-click="cancel()">
            Cancel
        </button>
    </div>
</div>