<ul class="list-inline">
    <li data-ng-repeat="itemlink in linkedEntities" class="linked-entity">
        <entity-link
                is-edit-mode="isEditMode"
                title="{{itemlink.label}}"
                db-uuid="fullDatabase().uuid"
                on-remove="removeWithCallback(itemlink)"
                is-new="itemlink.isNew && !itemlink.isDeleted"
                is-deleted="itemlink.isDeleted"
                link="itemlink">
        </entity-link>
    </li>
    <li class="linked-entity" ng-show="hasMore()">
        <button class="btn btn-default fa fa-angle-double-right" title="Load more" data-ng-click="loadMore()"></button>
    </li>
</ul>