<div>
    <div class="row" data-ng-controller="FormViewController as formView">
        <div class="row">
            <h2 class="pull-left">{{formView.label}}</h2>
        </div>
        <div class="row entity-actions">
            <button class="btn btn-primary pull-left" data-ng-click="cancel()">Back to search</button>

            <div class="pull-right" data-ng-show="editMode">
                <button class="btn btn-primary action-button" data-ng-click="formView.save()">Save</button>
                <button class="btn btn-danger action-button" data-ng-click="formView.revert()">Revert</button>
            </div>
            <div class="pull-right" data-ng-hide="editMode">
                <button class="btn btn-primary action-button" data-ng-click="toggleView()">Edit</button>
            </div>
        </div>
        <div ng-if="state">

            <div class="row">
                <uib-alert type="danger" data-ng-show="formView.error" close="formView.closeError()">
                    {{formView.error}}
                </uib-alert>
                <div class="panel panel-default" data-ng-controller="PropertiesController as props">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title pull-left">Properties</h4>

                        <div class="btn-group pull-right">
                            <button data-ng-show="editMode" class="btn btn-primary pull-right"
                                    data-ng-click="props.newProperty()"><i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div ng-show="properties.length === 0">
                            No properties
                        </div>

                        <form class="form-horizontal" name="propsForm" novalidate>
                            <div class="row" style="font-weight: bold" data-ng-show="properties.length">
                                <div class="col-md-3">
                                    Name
                                </div>
                                <div class="col-md-2">
                                    Type
                                </div>
                                <div class="col-md-7">
                                    Value
                                </div>
                            </div>
                            <div class="row" data-ng-repeat="property in properties">
                                <div class="col-md-3">
                                    <div data-ng-class="{'has-error':  hasError('propsForm', $index + 'name' )}">
                                        <input name="{{$index + 'name'}}"
                                               data-ng-type="text"
                                               class="form-control"
                                               data-ng-required="true"
                                               data-ng-model="property.name"
                                               data-ng-disabled="!editMode"
                                               data-ng-change="props.checkDuplicates(property)"
                                               placeholder="Enter name"
                                               data-uib-tooltip="{{getMessage('propsForm', $index + 'name')}}"
                                               data-uib-tooltip-trigger="mouseenter">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <ui-select data-ng-model="property.type"
                                               data-theme="bootstrap"
                                               data-ng-disabled="!editMode"
                                               data-ng-change="props.removeValue(property)">
                                        <ui-select-match placeholder="Select type">
                                            {{$select.selected.displayName}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="type in props.allTypes">
                                            <small data-ng-bind="type.displayName"></small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="col-md-7">
                                    <div class="form-group col-md-10"
                                         data-ng-class="{'has-error':  hasError('propsForm', $index + 'value' )}">
                                        <div>
                                            <input name="{{$index + 'value'}}"
                                                   class="form-control"
                                                   data-ng-pattern="{{property.type.validation.pattern}}"
                                                   data-ng-model="property.value"
                                                   data-ng-required="true"
                                                   placeholder="Enter value"
                                                   data-ng-change="props.validateType(property)"
                                                   data-ng-disabled="!editMode || property.type.readonly"
                                                   data-uib-tooltip="{{getMessage('propsForm', $index + 'value')}}"
                                                   data-uib-tooltip-trigger="mouseenter">
                                        </div>
                                    </div>
                                    <div class="col-md-2" data-ng-show="editMode">
                                        <div data-ng-show="$index + 1 !== properties.length">
                                            <a class="btn btn-danger" data-ng-click="props.removeProperty(property)">
                                                <i class="fa fa-minus"></i>
                                            </a>
                                        </div>
                                        <div class="btn-group" data-ng-show="$index + 1 === properties.length">
                                            <a class="btn btn-danger" data-ng-click="props.removeProperty(property)">
                                                <i class="fa fa-minus"></i>
                                            </a>
                                            <a class="btn btn-primary" data-ng-click="props.newProperty()">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default" data-ng-controller="LinksController as links">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title pull-left">Links</h4>
                    </div>
                    <div class="panel-body">

                        <div class="row" style="font-weight: bold" ng-show="editMode || uiLinks.length">
                            <div class="col-md-3">
                                Name
                            </div>
                            <div class="col-md-2">
                                Type
                            </div>
                            <div class="col-md-7">
                                Value
                            </div>
                        </div>
                        <div class="row add-link-section" ng-show="editMode">
                            <form class="form-horizontal" name="linksForm" novalidate>
                                <div class="col-md-3">
                                    <div data-ng-class="{'has-error':  hasError('linksForm', 'name' )}">
                                        <input name="name" data-ng-type="text" class="form-control"
                                               placeholder="Enter name"
                                               data-ng-required="true" data-ng-model="links.newLink.name"
                                               data-uib-tooltip="{{getMessage('linksForm', 'name')}}"
                                               data-uib-tooltip-trigger="mouseenter">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <ui-select data-ng-model="links.newLink.type"
                                               data-theme="bootstrap"
                                               data-ng-change="links.updateEntities()">
                                        <ui-select-match placeholder="Select type">
                                            {{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="type in links.allEntityTypes">
                                            <small data-ng-bind="type.name"></small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="col-md-7">
                                    <div class="form-group col-md-10"
                                         data-ng-class="{'has-error':  hasError('linksForm', 'value' )}">
                                        <div>
                                            <ui-select data-ng-model="links.newLink.value"
                                                       data-theme="bootstrap"
                                                       data-ng-required="true"
                                                       name="value">
                                                <ui-select-match placeholder="Search entity">
                                                    {{$select.selected.label}}
                                                </ui-select-match>
                                                <ui-select-choices repeat="entity in links.entities"
                                                                   refresh="links.searchEntities($select.search)"
                                                                   refresh-delay="500">
                                                    <small data-ng-bind="entity.label"></small>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-md-2" data-ng-show="editMode">
                                        <a class="btn btn-primary" data-ng-click="links.addNewLink()">
                                            Add link
                                        </a>
                                    </div>
                                </div>
                            </form>
                            <hr>
                        </div>
                        <div data-ng-show="uiLinks.length === 0">
                            <div data-ng-class="{'no-link-text' : editMode}">
                                No links
                            </div>
                        </div>
                        <div class="row form-view-link-row" data-ng-repeat="link in uiLinks">
                            <div class="col-md-3">
                                {{link.name}}
                            </div>
                            <div class="col-md-2">
                                {{link.type}}
                            </div>
                            <div class="col-md-7">
                                <div class="col-md-10" style="padding: 0; margin-right: -30px;">
                                    <entity-link
                                            title="{{link.label}}"
                                            typeid="{{link.typeId}}"
                                            entityid="{{link.entityId}}">
                                    </entity-link>

                                </div>
                                <div class="col-md-2" data-ng-show="editMode">
                                    <a class="btn btn-danger" data-ng-click="links.removeLink(link)">
                                        <i class="fa fa-minus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default" data-ng-controller="BlobsController as blobs">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title pull-left">Blobs</h4>
                    </div>
                    <div class="panel-body">
                        <div data-ng-show="uiBlobs.length === 0">
                            No blobs
                        </div>
                        <div class="row" style="font-weight: bold" data-ng-show="uiBlobs.length">
                            <div class="col-md-3">
                                Name
                            </div>
                            <div class="col-md-2">
                                Size
                            </div>
                            <div class="col-md-7">
                                Action
                            </div>
                        </div>
                        <div class="row form-view-link-row" data-ng-repeat="blob in uiBlobs">
                            <div class="col-md-3">
                                {{blob.name}}
                            </div>
                            <div class="col-md-2">
                                {{blob.blobSize}}
                            </div>
                            <div class="col-md-7">
                                <a class="btn btn-default" target="_self" data-ng-href="{{downloadLink(blob)}}">
                                    <i class="fa fa-download"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
