<div>
    <div class="modal-header without-bottom-border">
        <h3 class="modal-title">New database</h3>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <form class="form-horizontal" novalidate ng-submit="dbDialogCtrl.saveDB()" name="database">
                <div class="form-group"
                     data-ng-class="{'has-error':  (database.location.$invalid && database.location.$dirty)}">
                    <label for="location">location</label>
                    <input id="location" name="location" data-ng-required="true" ng-model="dbDialogCtrl.db.location"
                           class="form-control"
                           placeholder="location"
                           data-uib-tooltip="{{dbDialogCtrl.getMessage('location')}}"
                           data-uib-tooltip-trigger="mouseenter">
                </div>
                <div class="form-group" data-ng-class="{'has-error':  (database.key.$invalid && database.key.$dirty)}">
                    <label for="key">key</label>
                    <div class="input-group">
                        <input id="key" name="key" data-ng-required="true" ng-model="dbDialogCtrl.db.key"
                               class="form-control"
                               placeholder="key"
                               data-uib-tooltip="{{dbDialogCtrl.getMessage('key')}}"
                               data-uib-tooltip-trigger="mouseenter">
                        <div class="input-group-btn">
                            <div class="btn-group" uib-dropdown>
                                <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle>
                                    Predefined keys <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                    <li role="menuitem" data-ng-repeat="key in dbDialogCtrl.predefinedKeys">
                                        <a data-ng-click="dbDialogCtrl.applyKey(key)">{{key.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox checkbox-primary">
                        <input id="opened" type="checkbox" name="opened" ng-model="dbDialogCtrl.db.opened">
                        <label for="opened">open database</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6" style="padding-left: 0;">
                        <div class="checkbox checkbox-primary">
                            <input id="encryted" type="checkbox" name="opened" ng-model="dbDialogCtrl.db.encrypted">
                            <label for="encryted">is encrypted</label>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-right: 0;" ng-if="dbDialogCtrl.db.encrypted">
                        <div class="pull-right">
                            <span>using</span>
                            <div class="btn-group">
                                <button class="btn btn-default" ng-class="{'btn-info': dbDialogCtrl.isChaCha}">ChaCha</button>
                                <button class="btn btn-default" ng-class="{'btn-info': !dbDialogCtrl.isChaCha}">Salsa</button>
                            </div>
                        </div>
                        <!--<input id="algorithm" name="algorithm" type="checkbox" toggle-checkbox-->
                               <!--ng-model="dbDialogCtrl.isChaCha" data-style="animation-disabled" data-off="Salsa"-->
                               <!--data-on="ChaCha">-->
                    </div>
                </div>
                <div class="form-group" ng-if="dbDialogCtrl.db.encrypted"
                     data-ng-class="{'has-error':  (database.encryptionKey.$invalid && database.encryptionKey.$dirty)}">
                    <label for="encryptionKey">encryption key</label>
                    <input id="encryptionKey" name="encryptionKey" data-ng-required="true"
                           ng-model="dbDialogCtrl.db.encryptionKey"
                           class="form-control"
                           placeholder="encryption key"
                           data-uib-tooltip="{{dbDialogCtrl.getMessage('encryptionKey')}}"
                           data-uib-tooltip-trigger="mouseenter">
                </div>
                <div class="form-group" ng-if="dbDialogCtrl.db.encrypted"
                     data-ng-class="{'has-error':  (database.initialization.$invalid && database.initialization.$dirty)}">
                    <label for="initialization">initialization</label>
                    <input id="initialization" name="initialization" data-ng-required="true"
                           ng-model="dbDialogCtrl.db.initialization"
                           class="form-control"
                           placeholder="initialization"
                           data-uib-tooltip="{{dbDialogCtrl.getMessage('initialization')}}"
                           data-uib-tooltip-trigger="mouseenter">
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer without-top-border">
        <button class="btn btn-primary mdm-ui-component-confirm-button" data-ng-click="dbDialogCtrl.saveDB()">
            Add
        </button>
        <button class="btn btn-default mdm-ui-component-confirm-button" data-ng-click="dbDialogCtrl.cancel()">
            Cancel
        </button>
    </div>
</div>