<div>
    <div class="modal-header without-bottom-border">
        <h3 class="modal-title">New database</h3>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <store-setup show-buttons="false" on-success="onSuccess"></store-setup>
        </div>
    </div>
    <div class="modal-footer without-top-border">
        <button class="btn btn-primary mdm-ui-component-confirm-button" data-ng-click="changeDB()">
            Change database
        </button>
        <button class="btn btn-default mdm-ui-component-confirm-button" data-ng-click="cancel()">
            Cancel
        </button>
    </div>
</div>