<div>
    <div class="row">
        <form class="form" data-ng-submit="searchCtrl.onSearch()">
            <div class="form-group col-md-3">
                <div class="input-group">
                    <ui-select class="pull-right select-type-with-add-button"
                               data-ng-model="searchCtrl.selectedType"
                               data-theme="bootstrap"
                               data-ng-change="searchCtrl.onTypeSelect(searchCtrl.selectedType)"
                               style="width: 100%;"
                    >
                        <ui-select-match placeholder="Select type">
                            {{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices
                                repeat="type in searchCtrl.fullDatabase.types | filter: $select.search track by type.id" class="ui-select-choices-search">
                            <small data-ng-bind="type.name"></small>
                        </ui-select-choices>
                    </ui-select>
                    <div class="input-group-btn">
                        <a class="btn btn-default" uib-popover-template="'add-new-entity-type.html'"
                                popover-title="New entity type" popover-placement="bottom-right"
                                ><i class="fa fa-plus js-close-popover" ></i></a>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-7">
                <div class="input-group">
                    <input id="searchQuery" autofocus type="text"
                           data-ng-model="searchCtrl.searchQuery"
                           class="form-control"
                           placeholder="try <12> or <name != John> or <name ~ Sam and age = [35,40]> or press the (?) icon for details >>>">

                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i
                                class="fa fa-fw fa-search"></i>
                        </button>
                        <button class="btn btn-default" data-ng-click="openInfo()">
                            <i class="fa fa-fw fa-question"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="btn-group pull-right">
                    <a class="btn btn-primary pull-left" data-ng-click="searchCtrl.newEntity()">New Entity</a>
                    <a class="btn btn-danger pull-left" data-ng-click="searchCtrl.deleteSearchResult()">Delete
                        results</a>
                </div>
            </div>
        </form>
    </div>

</div>
