<div>
    <uib-alert type="danger" data-ng-show="error" close="closeError()">
        {{error}}
    </uib-alert>
    <form class="form-horizontal" novalidate ng-submit="changeDB()" name="database">
        <div class="form-group"
             data-ng-class="{'has-error':  (database.location.$invalid && database.location.$dirty)}">
            <label for="location">location</label>
            <input id="location" name="location" data-ng-required="true" ng-model="db.location" class="form-control"
                   placeholder="location"
                   data-uib-tooltip="{{getMessage('location')}}"
                   data-uib-tooltip-trigger="mouseenter">
        </div>
        <div class="form-group" data-ng-class="{'has-error':  (database.key.$invalid && database.key.$dirty)}">
            <label for="key">key</label>
            <div class="input-group">
                <input id="key" name="key" data-ng-required="true" ng-model="db.key" class="form-control"
                       placeholder="key"
                       data-uib-tooltip="{{getMessage('key')}}"
                       data-uib-tooltip-trigger="mouseenter">
                <div class="input-group-btn">
                    <div class="btn-group" uib-dropdown>
                        <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
                            Predefined keys <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem" data-ng-repeat="key in predefinedKeys">
                                <a data-ng-click="applyKey(key)">{{key.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" ng-if="showButtons">
            <button type="submit" class="btn btn-primary">
                Change database
            </button>
        </div>
    </form>
</div>