<div>
    <div class="container-fluid" data-ng-controller="DatabasesController as databasesCtrl">

        <h2>Databases <a class="btn btn-default" data-ng-click="databasesCtrl.openDialog()">
            <span class="fa fa-plus"></span> add
        </a></h2>


        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Summary</th>
                <th style="padding-left: 40px;">State</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="database in databasesCtrl.dbs">
                <td>
                    <span style="font-weight: bold">{{$index + 1}}</span>
                </td>
                <td>
                    <div class="database-row">
                        <span style="font-weight: bold">{{database.description}}:</span>
                        <span ng-if="!database.opened">{{database.location}}</span>
                        <a ng-if="database.opened" ng-href="databases/{{database.uuid}}">{{database.location}}</a>
                    </div>
                </td>
                <td>
                    <div style="display: flex;">
                        <div class="encrypted-icon-wrapper">
                            <i ng-if="database.encrypted" class="fa fa-user-secret pull-right"></i>
                            <i ng-if="!database.encrypted" class="fa fa-user-o pull-right"></i>
                        </div>
                        <div>
                            <input type="checkbox" toggle-checkbox ng-model="database.opened"
                                   ng-change="databasesCtrl.startOrStop(database)" data-style="animation-disabled">
                        </div>
                    </div>
                </td>
                <td>
                    <button style="height: 34px;" class="btn btn-danger fa fa-lg fa-trash"
                            ng-click="databasesCtrl.deleteDB(database)">
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>