<div>
    <div class="container-fluid" data-ng-controller="DatabasesController as databasesCtrl">

        <h2>Databases</h2>

        <p>
            <a class="btn btn-default" data-ng-click="databasesCtrl.openDialog()">
                <span class="fa fa-plus"></span> New</a>
        </p>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Summary</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="database in databasesCtrl.dbs">
                <td>
                    <span style="font-weight: bold">{{$index + 1}}</span>
                </td>
                <td>
                    <div>
                        <i ng-show="database.opened" class="fa fa-check-circle available database-status-icon"
                           aria-hidden="true"></i>
                        <i ng-show="!database.opened" class="fa fa-minus-circle unavailable database-status-icon"
                           aria-hidden="true"></i>
                        <span style="font-weight: bold">{{database.description}}:</span>
                        <span>{{database.location}}</span>
                    </div>
                </td>
                <td>
                    <div ng-show="database.opened">
                        <a ng-href="/databases/{{database.uuid}}">Available</a>
                    </div>
                    <div ng-show="!database.opened">
                        <span>Stopped</span>
                    </div>
                </td>
                <td>
                    <span class="fa fa-lg fa-trash" title="Remove" ng-click="databasesCtrl.deleteDB(database)"></span>
                    <span class="fa fa-lg fa-eject" ng-show="database.opened" ng-click="databasesCtrl.startOrStop(database, false)" title="Stop"></span>
                    <span class="fa fa-lg fa-play" ng-show="!database.opened" ng-click="databasesCtrl.startOrStop(database, true)" title="Play"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>