<div>
    <uib-alert type="danger" data-ng-show="error" close="closeError()">
        {{error}}
    </uib-alert>
    <form class="form-horizontal" novalidate ng-submit="changeDB()" name="database">
        <div class="form-group" data-ng-class="{'has-error':  database.location.$invalid}">
            <label for="location">location</label>
            <input id="location" name="location" data-ng-required="true" ng-model="db.location" class="form-control" placeholder="location">
        </div>
        <div class="form-group" data-ng-class="{'has-error':  database.key.$invalid}">
            <label for="key">key</label>
            <input id="key" name="key" data-ng-required="true" ng-model="db.key" class="form-control" placeholder="key">
        </div>
        <div class="form-group" ng-if="showButtons">
            <button type="submit" class="btn btn-primary">
                Change database
            </button>
        </div>
    </form>
</div>