<!DOCTYPE html>
<html lang="en" ng-app="xodus">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Xodus entity browser</title>

    <link href="webjars/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="webjars/angular-ui-select/0.13.1/select.min.css" rel="stylesheet">
    <link href="css/main-min.css" rel="stylesheet">

    <link rel="stylesheet" href="webjars/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<div>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="DBController as db">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" data-ng-click="db.forceReload()">Xodus entity browser</a>
            </div>
            <ul class="nav navbar-right top-nav">
                <li uib-dropdown class="dropdown">
                    <a uib-dropdown-toggle class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-fw fa-database"></i>Databases<b class="caret"></b></a>
                    <ul uib-dropdown-menu class="dropdown-menu">
                        <li ng-repeat="database in dbs" ng-class="{'selected-item' : database.isCurrent }">
                            <a ng-click="db.changeDB(database)">
                                <i data-ng-show="database.isCurrent" class="fa fa-check"></i>
                                <i data-ng-show="!database.isCurrent" class="fa fa-trash"></i>
                                {{database.title}}
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a ng-click="db.openDialog()"><i class="fa fa-fw fa-plus"></i>add new</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div data-ng-view>
        </div>
    </main>
</div>

<script src="webjars/jquery/2.1.4/jquery.min.js"></script>
<script src="webjars/angularjs/1.4.7/angular.min.js"></script>
<script src="webjars/angularjs/1.4.7/angular-route.min.js"></script>
<script src="webjars/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
<script src="webjars/angular-ui-select/0.13.1/select.min.js"></script>

<!-- aggregated js  -->
<script src="js/all.js"></script>
</body>
</html>
